<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	form {
	display:flex;
	flex-direction: column;
	width:200px;
	}
	button {
	width:30%;
	}
</style>
</head>
<body>
	<form action="/reservation/save" method="post">
		<lable for="room_no" >객실번호 : </lable> <input type="text" id="room_no" name="room_no" />
		<lable for="guest_name" >고객이름 : </lable> <input type="text" id="guest_name" name="guest_name" />
		<lable for="check_in_date" >예약날짜 : </lable> <input type="text" id="check_in_date" name="check_in_date" />
		<button type="submit" value="Submit">전송</button>
	</form>
</body>
</html>