@charset "UTF-8";

/* 타이틀 폰트 */
@font-face {
    font-family: 'EF_jejudoldam';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 바디 폰트 */
@font-face {
    font-family: 'Ownglyph_ryuttung-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_ryuttung-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
	margin: 0;
	padding: 0;
 	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	line-decoration: none;
}

body {
	width: 100vw;
	height:100hw;
	background-image: url("/images/jeju_back_ground.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Ownglyph_ryuttung-Rg';
	 text-align: center;
}

.title{
	margin-top:10%;
	    font-family: 'EF_jejudoldam';
}

.todoList{
	display:flex;
	flex-direction: center;
	align-items: center;
}

.done {
	text-decoration: line-through;
	color:#555;
}

form .myName {
	width: auto;
	background: transparent;
	outline: none;
	
}